name: Deploy to Server

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Create .env file
      run: |
        echo "${{ secrets.ENV_FILE }}" > .env

    - name: Install and Build
      run: |
        npm install
        npm run build 

    - name: Clean up old build
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        script: |
          echo "Deleting old .next folder..."
          sudo rm -rf /home/ubuntu/meow/.next
          sudo rm -rf /home/ubuntu/meow/node_modules

    - name: Copy files via SSH
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        source: "package.json,package-lock.json,.next,next.config.js,public"
        target: "/home/ubuntu/meow"

    - name: Restart PM2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        script: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          node -v 
          cd /home/ubuntu/meow
          npm install --production
          pm2 restart all